<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>磁力猫 -最好用的磁力搜索引擎</title>
<!--    <link rel="shortcut icon" href="/static/favicon.ico" th:href="@{/static/favicon.ico}"/>-->
<!--    <link rel="icon" href="/static/favicon.ico" th:href="@{/static/favicon.ico}"/>-->
    <link type="text/css" rel="stylesheet" href="../static/css/muerbt.css" th:href="@{static/css/muerbt.css}"/>
</head>

<script src="../static/js/xmp.js"  th:src="@{/static/js/xmp.js}" type="text/javascript"></script>
<script src="../static/js/muerbt.js" th:src="@{/static/js/muerbt.js}" type="text/javascript"></script>

<style>.MwXmD1 {
    background: none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    z-index: 2147483647;
    width: 100vw;
    bottom: 15vh;
    height: 85vh;
    text-decoration: none;
}

.MwXmD2 {
    position: fixed;
    bottom: 30vh;
    z-index: 2147483647;
    right: 0;
    margin-right: 6vw;
    padding: 0;
    text-decoration: none;
    background-color: red;
    width: 7vw;
    height: 7vw;
    border-radius: 7vw;
    font-size: 6vw;
    color: #fff;
    text-align: center;
    transform: rotate(-90deg);
}</style>
<span id=hSVK2 class=MwXmD2>></span>
<div id=hSVK1 class=MwXmD1></div>
<script>
    var content  = document.getElementById('content')
    function getAutoCompletedHits(inputDom) {
        console.log(inputDom.value)
        var prefix = inputDom.value
        if(prefix.trim()){
            content.innerHTML = ''
            $.getJSON("http://localhost:8080/book/fix?prefix="+ prefix.trim(), {},
                function (_data){
                    for (var i = 0; i<_data.length; i++){
                        var pTag = document.createElement('p')
                        pTag.innerText = _data[i]
                        content.appendChild(pTag)
                    }
                })
        }
    }
</script>


<body>
<div class="wrapper">
    <div class="mt15"></div>
    <div class="p-wrapper">
        <div class="bobologo mb15"><a href="/"><img src="../static/images/muerbt.png"
                                                    alt="磁力搜索 BT种子搜索利器 免费下载BT种子，超4000万条种子数据" th:src="@{/static/images/muerbt.png}"/></a></div>
        <div class="searchbox">
            <form action="/search" name="search"  method="post">
                <div class="search">
                    <div class="sbtn">
                        <button value="搜索" type="submit">搜索</button>
                    </div>
                    <div id="content">

                    </div>
                    <div class="wd">
                        <input oninput="getAutoCompletedHits(this)" placeholder="请输入关键词..."
                               type="text" value="java">
                    </div>
                </div>
            </form>
        </div>


        <div class="tbox">
            <div class="msg">
                <span>为您找到约<span class="orange"> 4734 </span>个磁力链接/BT种子，耗时 5 毫秒。</span><span>
        </span>
            </div>
        </div>
        <div class="tbox sort-box">
            <div class="sortbar">
                <span class="l-title">分类：</span>
                <a href="/search-java-0-0-1.html" class="active">全部(4734)</a>
                <a href="/search-java-1-0-1.html" class="">影视(1343)</a>
                <a href="/search-java-2-0-1.html" class="">音乐(46)</a>
                <a href="/search-java-3-0-1.html" class="">图像(1)</a>
                <a href="/search-java-4-0-1.html" class="">文档书籍(1532)</a>
                <a href="/search-java-5-0-1.html" class="">压缩文件(1112)</a>
                <a href="/search-java-6-0-1.html" class="">安装包(190)</a>
                <a href="/search-java-7-0-1.html" class="">其他(510)</a>
            </div>
            <div class="sortbar">
                <span class="l-title">排序：</span>
                <a href="/search-java-0-0-1.html" class="active">相关程度</a>
                <a href="/search-java-0-3-1.html" class="">热度</a>
                <a href="/search-java-0-1-1.html" class="">文件大小</a>
                <a href="/search-java-0-2-1.html" class="">添加时间</a>
                <a href="/search-java-0-4-1.html" class="">最近访问</a>
            </div>
        </div>
        <div class="tbox">

            <div class="ssbox">
                <div class="title">
                    <h3><span>[压缩文件]</span><a href="/hash/6f38ed5a88cbd80a74a0231e439a3bfb266e091e.html"
                                              target="_blank"> Java, Java, Java - Object-Oriented Problem Solving, 3rd
                        Edition (2005).chm & Java.pdf </a></h3>
                </div>

                <div class="slist">
                    <ul>
                        <li>Java, Java, Java - Object-Oriented Problem Solving, 3rd Edition (2005).chm & Java.pdf.zip&nbsp;<span
                                class="lightColor">470.6 kB</span></li>
                    </ul>
                </div>
                <div class="sbar">
                    <span><a href="magnet:?xt=urn:btih:6F38ED5A88CBD80A74A0231E439A3BFB266E091E"
                             target="_blank">[磁力链接]</a></span>
                    <span>添加时间:<b>2020-02-11</b></span>
                    <span>大小:<b class="cpill yellow-pill">470.6 kB</b></span>
                    <span>最近下载:<b>2021-11-22</b></span>
                    <span>热度:<b>357</b></span>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div class="pager">
        <span>共237页</span>
        <a href="#">上一页</a>
        <span>1</span>
        <a href="/search-java-0-0-2.html">2</a>
        <a href="/search-java-0-0-3.html">3</a>
        <a href="/search-java-0-0-4.html">4</a>
        <a href="/search-java-0-0-5.html">5</a>
        <a href="/search-java-0-0-2.html">下一页</a>
    </div>
</div>
</div>

<div class="footer">
</div>
</body>
</html>