<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索框</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script src="../static/js/jquery-1.7.js" type="text/javascript" th:src="@{/js/jquery-1.7.js}"></script>
    <script src="../static/js/jquery-ui.min.js" type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
</head>
<body>
    <div class="google">
        <img src="../static/images/google.png" th:src="@{/images/google.png}" alt="">
    </div>
    <div class="googlesearch">
        <img src="../static/images/search.png" th:src="@{/images/search.png}" class="search">
        <input oninput="getAutoCompletedHits(this)" type="text" id="main"
        value="在Google上搜索，或者输入一个网址"
        onfocus="if(value=='在Google上搜索，或者输入一个网址')value=''"
        onblur="if(!value)value='在Google上搜索，或者输入一个网址'"
        name="keyword">
        <img src="../static/images/yuyin.png" th:src="@{/images/yuyin.png}" class="yuyin">
    </div>
    <div id="content">

    </div>
</body>
<script>
    var content  = document.getElementById('content')
    function getAutoCompletedHits(inputDom) {
        console.log(inputDom.value)
        var prefix = inputDom.value
        if(prefix.trim()){
            content.innerHTML = ''
            $.getJSON("http://localhost:8080/book/fix?prefix="+ prefix.trim(), {},
                function (_data){
                    for (var i = 0; i<_data.length; i++){
                        var pTag = document.createElement('p')
                        pTag.innerText = _data[i]
                        content.appendChild(pTag)
                    }
                })
        }
    }
</script>
</html>